## Covid-19 Data-engineering ETL project Using AWS ( S3, Athena, Redshift, Glue, Crawler)

In [124]:
import boto3 # this library will help us to connect with aws services 
import pandas as pd
from io import StringIO
import time

### Setting up access to S3 Buckets in aws

In [2]:
AWS_ACCESS_KEY = "AKIASVTQXJSPJDSBSCWB"
AWS_SECRET_KEY = "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"
AWS_REGION = "ap-south-1"
SCHEMA_NAME = "covid_19"
S3_STAGING_DIR = "s3://paras-output-bucket/staging/"
S3_BUCKET_NAME = "paras-output-bucket"
S3_OUTPUT_DIRECTORY = "staging"

### Establishing connection with Athena

In [3]:
# Here, we creating athena client for interact with...
athena_client = boto3.client("athena",
                             aws_access_key_id=AWS_ACCESS_KEY,
                             aws_secret_access_key=AWS_SECRET_KEY,
                             region_name=AWS_REGION,)

In [4]:
# this is the function for download and load query results, (picked up from open source...) 

Dict = {}
def download_and_load_query_results(client:boto3.client,query_response:Dict)->pd.DataFrame:
    while True:
        try:
            #this function only loads the first 1000 rows
            client.get_query_results(QueryExecutionId=query_response['QueryExecutionId'])
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location:str="athena_query_results.csv"
    s3_client = boto3.client("s3",
                             aws_access_key_id=AWS_ACCESS_KEY,
                             aws_secret_access_key=AWS_SECRET_KEY,
                             region_name=AWS_REGION,)
    s3_client.download_file(S3_BUCKET_NAME,
                            f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
                            temp_file_location,)
    return pd.read_csv(temp_file_location)

In [5]:
response = athena_client.start_query_execution(QueryString="select * from enigma_jhud",
                                              QueryExecutionContext={"Database":SCHEMA_NAME},
                                              ResultConfiguration={
                                                  "OutputLocation":S3_STAGING_DIR,
                                                  "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
                                              },)

In [6]:
response

{'QueryExecutionId': '7f37863a-0778-4262-a0ee-65b68d0d067c',
 'ResponseMetadata': {'RequestId': '62063a30-0cc3-465a-9d6b-998d34183149',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'content-type': 'application/x-amz-json-1.1',
   'date': 'Mon, 10 Jan 2022 05:12:30 GMT',
   'x-amzn-requestid': '62063a30-0cc3-465a-9d6b-998d34183149',
   'content-length': '59',
   'connection': 'keep-alive'},
  'RetryAttempts': 0}}

### Extracting data from AWS Athena into Pandas dataframe

In [7]:
# getting first dataframe from Athena
enigma_jhud = download_and_load_query_results(athena_client, response)

In [9]:
response = athena_client.start_query_execution(QueryString="select * from nytimes_data_in_usaus_county",
                                              QueryExecutionContext={"Database":SCHEMA_NAME},
                                              ResultConfiguration={
                                                  "OutputLocation":S3_STAGING_DIR,
                                                  "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
                                              },)
nytimes_data_in_usaus_county = download_and_load_query_results(athena_client, response)
nytimes_data_in_usaus_county.head()

         date          county     state     fips  cases  deaths
0  2020-03-22     St. Charles  Missouri  29183.0    3.0     0.0
1  2020-03-22       St. Louis  Missouri  29189.0   55.0     1.0
2  2020-03-22  St. Louis city  Missouri  29510.0   14.0     0.0
3  2020-03-22         Unknown  Missouri      NaN    1.0     0.0
4  2020-03-22      Broadwater   Montana  30007.0    1.0     0.0

In [10]:
response = athena_client.start_query_execution(QueryString="select * from nytimes_data_in_usaus_states",
                                              QueryExecutionContext={"Database":SCHEMA_NAME},
                                              ResultConfiguration={
                                                  "OutputLocation":S3_STAGING_DIR,
                                                  "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
                                              },)
nytimes_data_in_usaus_states = download_and_load_query_results(athena_client, response)
nytimes_data_in_usaus_states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [11]:
response = athena_client.start_query_execution(QueryString="select * from rearc_covid_19_testing_datastates_daily",
                                              QueryExecutionContext={"Database":SCHEMA_NAME},
                                              ResultConfiguration={
                                                  "OutputLocation":S3_STAGING_DIR,
                                                  "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
                                              },)
rearc_covid_19_testing_datastates_daily = download_and_load_query_results(athena_client, response)
rearc_covid_19_testing_datastates_daily.head()

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0.0,0.0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0.0,0.0,0.0,0.0,0.0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22.0,11.0,50921aeefba3e30d31623aa495b47fb2ecc72fae,0.0,0.0,0.0,0.0,0.0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0.0,0.0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0.0,0.0,0.0,0.0,0.0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5.0,44.0,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0.0,0.0,0.0,0.0,0.0,NaN

In [12]:
response = athena_client.start_query_execution(QueryString="select * from rearc_covid_19_testing_dataus_daily",
                                              QueryExecutionContext={"Database":SCHEMA_NAME},
                                              ResultConfiguration={
                                                  "OutputLocation":S3_STAGING_DIR,
                                                  "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
                                              },)
rearc_covid_19_testing_dataus_daily = download_and_load_query_results(athena_client, response)
rearc_covid_19_testing_dataus_daily.head()

,date,states,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,...,lastmodified,recovered,total,posneg,deathincrease,hospitalizedincrease,negativeincrease,positiveincrease,totaltestresultsincrease,hash
0,20210307,56,28755524.0,74579770.0,11808.0,40212.0,878613.0,8137.0,45475.0,2801.0,...,2021-03-07T24:00:00Z,NaN,0,0,839,726,130414,41265,1156241,8b26839690cd05c0cef69cb9ed85641a76b5e78e
1,20210306,56,28714259.0,74449356.0,11783.0,41401.0,877887.0,8409.0,45453.0,2811.0,...,2021-03-06T24:00:00Z,NaN,0,0,1674,503,142201,59620,1409138,d0c0482ea549c9d5c04a7c86acb6fc6a8095a592
2,20210305,56,28654639.0,74307155.0,12213.0,42541.0,877384.0,8634.0,45373.0,2889.0,...,2021-03-05T24:00:00Z,NaN,0,0,2221,2781,271917,68787,1744417,a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222
3,20210304,56,28585852.0,74035238.0,12405.0,44172.0,874603.0,8970.0,45293.0,2973.0,...,2021-03-04T24:00:00Z,NaN,0,0,1743,1530,177957,65487,1590984,a19ad6379a653834cbda3093791ad2c3b9fab5ff
4,20210303,56,28520365.0,73857281.0,11778.0,45462.0,873073.0,9359.0,45214.0,3094.0,...,2021-03-03T24:00:00Z,NaN,0,0,2449,2172,267001,66836,1406795,9e1d2afda1b0ec243060d6f68a7134d011c0cb2a

In [13]:
response = athena_client.start_query_execution(QueryString="select * from rearc_covid_19_testing_dataus_total_latest",
                                              QueryExecutionContext={"Database":SCHEMA_NAME},
                                              ResultConfiguration={
                                                  "OutputLocation":S3_STAGING_DIR,
                                                  "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
                                              },)
rearc_covid_19_testing_dataus_total_latest = download_and_load_query_results(athena_client, response)
rearc_covid_19_testing_dataus_total_latest.head()

,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,onventilatorcumulative,recovered,hash,lastmodified,death,hospitalized,total,totaltestresults,posneg,notes
0,1061101,5170081,2775,53793,111955,9486,4192,4712,373,153947,95064ba29ccbc20dbec397033dfe4b1f45137c99,2020-05-01T09:12:31.891Z,57266,111955,6233957,6231182,6231182,"""NOTE: """"total"""""

In [14]:
response = athena_client.start_query_execution(QueryString="select * from rearc_usa_hospital_beds",
                                              QueryExecutionContext={"Database":SCHEMA_NAME},
                                              ResultConfiguration={
                                                  "OutputLocation":S3_STAGING_DIR,
                                                  "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
                                              },)
rearc_usa_hospital_beds = download_and_load_query_results(athena_client, response)
rearc_usa_hospital_beds.head()

,objectid,hospital_name,hospital_type,hq_address,hq_address1,hq_city,hq_state,hq_zip_code,county_name,state_name,...,num_licensed_beds,num_staffed_beds,num_icu_beds,adult_icu_beds,pedi_icu_beds,bed_utilization,avg_ventilator_usage,potential_increase_in_bed_capac,latitude,longtitude
0,1.0,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,650 E Indian School Rd,NaN,Phoenix,AZ,85012.0,Maricopa,Arizona,...,129.0,129.0,0.0,0.0,NaN,NaN,0.0,0.0,33.495498,-112.066157
1,2.0,Southern Arizona VA Health Care System,VA Hospital,3601 S 6th Ave,NaN,Tucson,AZ,85723.0,Pima,Arizona,...,295.0,295.0,2.0,2.0,NaN,NaN,2.0,0.0,32.181263,-110.965885
2,3.0,VA Central California Health Care System,VA Hospital,2615 E Clinton Ave,NaN,Fresno,CA,93703.0,Fresno,California,...,57.0,57.0,2.0,2.0,NaN,NaN,2.0,0.0,36.773324,-119.779742
3,4.0,VA Connecticut Healthcare System - West Haven ...,VA Hospital,950 Campbell Ave,NaN,West Haven,CT,6516.0,New Haven,Connecticut,...,216.0,216.0,1.0,1.0,NaN,NaN,2.0,0.0,41.284400,-72.957610
4,5.0,Wilmington VA Medical Center,VA Hospital,1601 Kirkwood Hwy,NaN,Wilmington,DE,19805.0,New Castle,Delaware,...,60.0,60.0,0.0,0.0,NaN,NaN,1.0,0.0,39.740206,-75.606532

In [15]:
response = athena_client.start_query_execution(QueryString="select * from static_datasetscountrycode",
                                              QueryExecutionContext={"Database":SCHEMA_NAME},
                                              ResultConfiguration={
                                                  "OutputLocation":S3_STAGING_DIR,
                                                  "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
                                              },)
static_datasetscountrycode = download_and_load_query_results(athena_client, response)
static_datasetscountrycode.head()

          country alpha-2 code alpha-3 code  numeric code  latitude  longitude
0     Afghanistan           AF          AFG           4.0   33.0000       65.0
1         Albania           AL          ALB           8.0   41.0000       20.0
2         Algeria           DZ          DZA          12.0   28.0000        3.0
3  American Samoa           AS          ASM          16.0  -14.3333     -170.0
4         Andorra           AD          AND          20.0   42.5000        1.6

In [16]:
response = athena_client.start_query_execution(QueryString="select * from static_datasetscountypopulation",
                                              QueryExecutionContext={"Database":SCHEMA_NAME},
                                              ResultConfiguration={
                                                  "OutputLocation":S3_STAGING_DIR,
                                                  "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
                                              },)
static_datasetscountypopulation = download_and_load_query_results(athena_client, response)
static_datasetscountypopulation.head()

               id   id2   county    state  population estimate 2018
0  0500000US01001  1001  Autauga  Alabama                     55601
1  0500000US01003  1003  Baldwin  Alabama                    218022
2  0500000US01005  1005  Barbour  Alabama                     24881
3  0500000US01007  1007     Bibb  Alabama                     22400
4  0500000US01009  1009   Blount  Alabama                     57840

In [17]:
response = athena_client.start_query_execution(QueryString="select * from static_datasetsstate_abv",
                                              QueryExecutionContext={"Database":SCHEMA_NAME},
                                              ResultConfiguration={
                                                  "OutputLocation":S3_STAGING_DIR,
                                                  "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
                                              },)
static_datasetsstate_abv = download_and_load_query_results(athena_client, response)
static_datasetsstate_abv.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

#### Fixing the header for static_datasetsstate_abv table

In [18]:
#in above dataframe we should have to take 0th record as header
new_header = static_datasetsstate_abv.iloc[0] # grab first row for the header
static_datasetsstate_abv = static_datasetsstate_abv[1:] # take the data from 2nd row
static_datasetsstate_abv.columns=new_header # header row as df header

In [19]:
static_datasetsstate_abv.head() # FIXED !!!

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

### Transforming data to create Dimensions and Fact tables

In [26]:
enigma_jhud.columns
factCovid_1 = enigma_jhud[['fips','province_state','country_region','confirmed', 'deaths', 'recovered', 'active']]
factCovid_2 = rearc_covid_19_testing_datastates_daily[['fips','date','positive', 'negative','hospitalizedcurrently','hospitalized',
       'hospitalizeddischarged',]]
factCovid = pd.merge(factCovid_1,factCovid_2,on='fips',how='inner') #Here we join that two dataframes..
factCovid.shape

(9063, 13)

In [34]:
dimRegion_1 = enigma_jhud[['fips', 'province_state', 'country_region','latitude', 'longitude']]
dimRegion_2 = nytimes_data_in_usaus_county[['fips','state','county']]
dimRegion =pd.merge(dimRegion_1,dimRegion_2,on='fips',how='inner')
dimRegion.shape

(3714013, 7)

In [37]:
dimHospital = rearc_usa_hospital_beds[['fips', 'state_name', 'latitude', 'longtitude', 'hospital_name', 'hospital_type', 'hq_address','hq_city', 'hq_state',]]
dimHospital.shape

(830, 9)

In [42]:
dimDate = rearc_covid_19_testing_datastates_daily[['fips','date']]
dimDate.head()

   fips      date
0   2.0  20210307
1   1.0  20210307
2   5.0  20210307
3  60.0  20210307
4   4.0  20210307

In [46]:
dimDate['date'] = pd.to_datetime(dimDate['date'],format='%Y%m%d') # Transforming Date into readable format
dimDate['year'] =dimDate['date'].dt.year
dimDate['month'] =dimDate['date'].dt.month
dimDate['day_of_week'] =dimDate['date'].dt.dayofweek
dimDate.head()

/tmp/ipykernel_24075/3296807661.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date'] = pd.to_datetime(dimDate['date'],format='%Y%m%d') # Transforming Date into readable format
/tmp/ipykernel_24075/3296807661.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year'] =dimDate['date'].dt.year
/tmp/ipykernel_24075/3296807661.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month'] =dimDate['date'].dt.month
/tmp/ipykernel_24075/3296807661.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['day_of_week'] =dimDate['date'].dt.dayofweek

   fips       date  year  month  day_of_week
0   2.0 2021-03-07  2021      3            6
1   1.0 2021-03-07  2021      3            6
2   5.0 2021-03-07  2021      3            6
3  60.0 2021-03-07  2021      3            6
4   4.0 2021-03-07  2021      3            6

### Store data  into AWS S3  from Pandas dataframe

In [47]:
# Uploading pandas dataframe on AWS S3 bucket
bucket = 'paras-output-bucket'
csv_buffer = StringIO()
factCovid.to_csv(csv_buffer)
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket,'output/factCovid.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'XJBPZHG9CKJBJX4M',
  'HostId': 'E747EgO/bQDZ3GO5dGaPGxxUg/hvkM1j+hdARhM2+6zled7D8RkOmB/RMrsGhdRjG4Pl1IoCqDY=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'E747EgO/bQDZ3GO5dGaPGxxUg/hvkM1j+hdARhM2+6zled7D8RkOmB/RMrsGhdRjG4Pl1IoCqDY=',
   'x-amz-request-id': 'XJBPZHG9CKJBJX4M',
   'date': 'Mon, 10 Jan 2022 05:57:21 GMT',
   'etag': '"d2df28fcb7a04d78d4bc2494280f7a1e"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"d2df28fcb7a04d78d4bc2494280f7a1e"'}

In [48]:
csv_buffer = StringIO()
dimRegion.to_csv(csv_buffer)
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket,'output/dimRegion.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'KPGV7Q9JBA2VYBGN',
  'HostId': 'aPra5efQBOQgFAqiBBaWDoRQ2JOpzWFTEgukWQcBPu2mSR2qwuSvFq4r4K5c0BnxuVCFT8voys8=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'aPra5efQBOQgFAqiBBaWDoRQ2JOpzWFTEgukWQcBPu2mSR2qwuSvFq4r4K5c0BnxuVCFT8voys8=',
   'x-amz-request-id': 'KPGV7Q9JBA2VYBGN',
   'date': 'Mon, 10 Jan 2022 05:58:39 GMT',
   'etag': '"e445ff35ae7da4dd0057c752c0b9ee1f"',
   'server': 'AmazonS3',
   'content-length': '0',
   'connection': 'close'},
  'RetryAttempts': 1},
 'ETag': '"e445ff35ae7da4dd0057c752c0b9ee1f"'}

In [49]:
csv_buffer = StringIO()
dimDate.to_csv(csv_buffer)
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket,'output/dimDate.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'D5V5HPKAXH4WWVR6',
  'HostId': 'kZzfopYy8OlktDU8yhJi/ssxjytNk/2LeEUWOTW3Weu8uewwWTEDJFND2txUIuG8Ch6zT0vsdkw=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'kZzfopYy8OlktDU8yhJi/ssxjytNk/2LeEUWOTW3Weu8uewwWTEDJFND2txUIuG8Ch6zT0vsdkw=',
   'x-amz-request-id': 'D5V5HPKAXH4WWVR6',
   'date': 'Mon, 10 Jan 2022 06:07:32 GMT',
   'etag': '"c806953ef77c6fc33fdf78f5d2b636e4"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"c806953ef77c6fc33fdf78f5d2b636e4"'}

In [50]:
csv_buffer = StringIO()
dimHospital.to_csv(csv_buffer)
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket,'output/dimHospital.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'ZKPANPZRPSC6M7EW',
  'HostId': 'T9mHQIxD6OZYnAyLeC68rGeJay0V6yOM+/YIg+7ZK6oi8G5Fq4D1VNzp6EVn0Ty8Cj6qLQSd4cw=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'T9mHQIxD6OZYnAyLeC68rGeJay0V6yOM+/YIg+7ZK6oi8G5Fq4D1VNzp6EVn0Ty8Cj6qLQSd4cw=',
   'x-amz-request-id': 'ZKPANPZRPSC6M7EW',
   'date': 'Mon, 10 Jan 2022 06:07:35 GMT',
   'etag': '"6040545359f0b80851302b2cf7823482"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"6040545359f0b80851302b2cf7823482"'}

In [51]:
# Downloading csv into local computer
factCovid.to_csv('factCovid.csv')
dimRegion.to_csv('dimRegion.csv')
dimDate.to_csv('dimDate.csv')
dimHospital.to_csv('dimHospital.csv')

In [52]:
dimDateSQL = pd.io.sql.get_schema(dimDate.reset_index(),'dimDate')
print(''.join(dimDateSQL))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)

In [58]:
dimHospitalSQL = pd.io.sql.get_schema(dimHospital.reset_index(),'dimHospitalSQL')
print(''.join(dimHospitalSQL))

CREATE TABLE "dimHospitalSQL" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_address" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)

In [59]:
dimRegionSQL = pd.io.sql.get_schema(dimRegion.reset_index(),'dimRegion')
print(''.join(dimRegionSQL))

CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "state" TEXT,
  "county" TEXT
)

In [60]:
factCovidSQL = pd.io.sql.get_schema(factCovid.reset_index(),'factCovid')
print(''.join(factCovidSQL))

CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)

### Load data from AWS S3 to AWS Redshift...

In [114]:
import redshift_connector

In [116]:
# Connects to Redshift cluster using AWS credentials
conn = redshift_connector.connect(
    host='redshift-cluster-1.csw0e13pb9vn.ap-south-1.redshift.amazonaws.com',
    database='dev',
    user='awsuser',
    password='Paras12345'
 )

In [118]:
conn.autocommit=True

In [119]:
cursor = redshift_connector.Cursor = conn.cursor()

In [121]:
cursor.execute("""
CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)
""")

cursor.execute("""
CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_address" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)
""")


cursor.execute("""
CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "state" TEXT,
  "county" TEXT
)
""")


cursor.execute("""
CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)
""")

In [123]:
cursor.execute("""
copy dimDate from 's3://paras-output-bucket/output/dimDate.csv'
credentials 'aws_iam_role=arn:aws:iam::183846259870:role/redshift-s3'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")



cursor.execute("""
copy dimHospital from 's3://paras-output-bucket/output/dimHospital.csv'
credentials 'aws_iam_role=arn:aws:iam::183846259870:role/redshift-s3'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")




cursor.execute("""
copy dimRegion from 's3://paras-output-bucket/output/dimRegion.csv'
credentials 'aws_iam_role=arn:aws:iam::183846259870:role/redshift-s3'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")




cursor.execute("""
copy factCovid from 's3://paras-output-bucket/output/factCovid.csv'
credentials 'aws_iam_role=arn:aws:iam::183846259870:role/redshift-s3'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")